on:
  push:

name: github-app-test

jobs:
  checkout:
    name: Checkout
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.2
      with:
        # Repository name with owner. For example, actions/checkout
        repository: hostens/travel-booking
        token: ${{ github.token }}
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: ServiceNow DevOps Change Automation
      uses: ServiceNow/servicenow-devops-change@v6.2.0
      with:
        instance-url: ${{ secrets.SNOW_INSTANCE }}
        devops-integration-user-name: ${{ secrets.SNOW_USER }}
        devops-integration-user-password: ${{ secrets.SNOW_PASSWORD }}
        tool-id: ${{ secrets.SNOW_TOOL_ID }}
        job-name: Deploy to production
        context-github: ${{ toJSON(github) }}
        change-request: '{"setCloseCode": true, "attributes": {"category": "DevOps", "short_description": "Automated Software Deployment using Github!!!", "description": "Automated Software Deployment!!!!"}}'
        
